<div class="container mt-4">
  <div  class="container  mt-4 ml-4 ">
    <h1 class="mb-3 text-info">Filters</h1>
    <div *ngFor="let filter of filters" class="form-check form-check-inline ml-4">
      <input  type="checkbox" [(ngModel)]="filter.status"   class="form-check-input"  >
      <label   class="form-check-label" ><h4 class="text-info">{{filter.name}}</h4></label>
    </div>
    <button (click)="filterAction()" type="submit" class="btn btn-primary btn-block ml-4">Apply filters</button>
  </div>

  <div class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="pageScroll()"
  >
<div class="container bootstrap snippets bootdey mt-5 " *ngFor="let Post of Posts let i = index"   >
  <div class="col-md-8"  >
    <div class="box box-widget">
      <div class="box-header with-border">
        <div class="user-block">
          <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Image">
          <span class="username" >{{Post.author}}
          </span>
          <span class="description" >{{Post.dateTime| date: 'short'}}</span>
        </div>
        <div class="col-md-8 ">
          <H5 >Title : {{Post.title}}</H5>
        </div>
      </div>
      <div class="box-body " style="display: block;">
        <p >{{Post.content}}</p>
        <div class="mt-5">
          <button  class="btn btn-info " (click)="showComment(i)"> {{commentT[i]}} </button>
          <button (click)="deletePost(Post.id,i)" type="button" class="btn btn-danger position-absolute end-0 " data-toggle="modal"  data-target="#exampleModal">Delete</button>
        </div>


      </div>
      <div *ngIf="showComments[i]" >
        <app-comment [PostId]="Post.id" [comments]="Post.comments"></app-comment>
      </div>
    </div>
</div>
</div>
<div class="row pb-5">
  <div class="col-md-12 p-5">
  <ngx-spinner
  bdOpacity = 0.9
  bdColor = ""
  size = "default"
  color = "#581f87"
  type = "ball-pulse-sync"
  [fullScreen] = "false"
  >
  </ngx-spinner>
</div>
</div>
<!-- Alert no more post -->
<div *ngIf = "!notEmptyPost" class="row pb-5">
<div class="col-md-12 d-flex justify-content-center">
<div class="text-muted h6 alert alert-secondary p-2">No more Post to show</div>
</div>
</div>
</div>




