<div class="container mt-5">
<div class="card bg-dark text-white mt-5">
  <img src="assets/Air.jpg" class="card-img-top" height="400"  alt="">
  <div class="card-img-overlay">
    <div class="col-lg-3">
    <img src="assets/home1.png" class="card-img-top" height="100"  alt="">

  </div>
  <div class="row mt-5" >
  <div class="mb-3">
    <H1 class="lead ">Welcome to Passport card blog Posts</H1>
  </div>
    <div class="col col-lg-2">
      <a class="btn btn-lg btn-info" [routerLink]="['/Post']" role="button">View Post »</a>
    </div>
    <div class="col col-lg-3">
      <a class="btn btn-lg btn-info" [routerLink]="['/addPost']" role="button">Add New Post »</a>
    </div>
  </div>
</div>
</div>
</div>
